<div class="post-feed">
    {{#foreach posts}}
        {{^has tag="tech, private"}}
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}
        {{/has}}
    {{/foreach}}
</div>