<nav class="site-nav">
    <div class="site-nav-left">
        {{#if @site.navigation}}
            {{navigation}}
        {{/if}}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
        </div>
    </div>
</nav>
